body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction:column;
    gap: 8px;
    padding: 16px;
}
.video-layout {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}

.focused-video {
    width: 70%;
    height: 100%;
}

.unfocused-videos {
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-container {
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline-container {
    height: 32px;
}

.custom-controls {
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    background-color: #181d27;

    width: 30rem;
    max-width: 50%;

    position: absolute;
    bottom: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}
.play-controls {
    gap: 8px;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}