body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction:column;
    gap: 8px;
    padding: 16px;
}
.video-layout {
    display: flex;
    gap: 8px;
    flex-grow: 1;
}

.focused-video {
    width: 70%;
    height: 100%;
}

.unfocused-videos {
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.video-container {
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline-container {
    height: 32px;
}

.custom-controls {
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    background-color: #181d27;

    width: 30rem;
    max-width: 50%;

    position: absolute;
    left: 16px;
    bottom: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    align-items: center;
    justify-content: center;
}

.play-controls {
    gap: 8px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

input #volume-control {
    width: 100px; 
    vertical-align: middle;
    margin-bottom: 0 !important;
}

.hide {
    display: none;
}

.video-number {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
    z-index: 10;
  }

button.control {
    border-radius: 100px;
    padding: calc(var(--pico-form-element-spacing-vertical) / 2) calc(var(--pico-form-element-spacing-horizontal) / 2);
    aspect-ratio: 1 / 1;
}